/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */


/* =Header
-------------------------------------------------------------- */
/*

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}

input[type="text"].peds-input,label.peds-input, select.peds-input, 
tr.peds-input {
	display: none;
}
	
input[type="text"].intersection-input,label.intersection-input, select.intersection-input, 
tr.intersection-input {
	display: none;
}
	
input[type="text"].opt-input,label.opt-input, select.opt-input,tr.opt-input {
	display: none;
}
	
input[type="text"].street-input,label.street-input, select.street-input,tr.street-input {
	display: none;
}

p.place-detail {
		font-size: 80%;
}	

hr.place-detail {
  margin: .5em 0 1.5em;
  stroke-color: 0.15em solid #a3c7d9;
}

p.legend-text {
	padding-left: .5em;
	color: #eee;
	font-size: 80%;
}
span.legend-text {
	padding-bottom: .25em;
}
h4.legend {
	padding-top: .25em;
	padding-left: .35em;
	color: #eee;
}

p.legendbox {
	/*margin-bottom: 2em;*/
	border-bottom: 1.5px solid #666;
}

h5.tips {
	margin-top: 2em
}
p.tips {
	font-size: 80%;
	font-weight: 500;
	margin-top: 1em;
	margin-bottom: 0em;
}

span.tips {
	font-size: 80%;
	font-weight: 200;
}

img.logos {
	max-height:75px;
	max-width: 250px;

}

.imglogos {
	text-align: center;
	margin-top: .5em;

}

p.why {
	font-size: 80%;
}

span.numbers {
	font-family: 'Monda', sans-serif;
 	font-weight: 500;
 	font-size: 1.4em;
 	color:#4C9BEB;
}
