{% extends 'base.html' %}

{% block site-title %}
<a href="/">
	<img id="site-logo" src="/static/css/images/walkscopelogo_sm.png">
	<!-- {{ config.app.name }} -->
	</a>
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
 
 
{% block sidebar %}
<h4 class="legend">Legend</h4>

<p class="legend-text"><img src="/static/css/images/feature-point-brick.png"><span class="legend-text"> Pedestrian Count</span></p>
<p class="legend-text"><img src="/static/css/images/feature-point-pumpkin.png"> Intersection Quality</p>
<p class="legend-text"><img src="/static/css/images/feature-point-navy.png"> Sidewalk Quality</p>
<p class="legendbox"> </p>
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}

	{% include "includes.html" %}

{% endblock %}




